/* Note to future self: this is likely a 3-column and 4*-row grid layout
The first row is just the header / nav
The second* row is the list of returned results
The third row is the end of the results (where the Goooogle logo and pages are)
The fourth row is the footer
* second row being many rows of results, possibly its own grid */

* {
    box-sizing: border-box;
}

html,
body,
.full-page-wrapper {
    height: 100%;
}

.full-page-wrapper {
    display: grid;
    grid-template-columns: 150px minmax(auto, 600px) minmax(max-content, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        ". main ."
        ". footer .";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 150px minmax(max-content, 2fr) minmax(max-content, 1fr);
    grid-template-areas:
        "logo search-bar apps-sign-in";
    align-items: center;
    margin-top: 20px;
}

.header-logo {
    grid-area: logo;
    padding-left: 30px;
}

.header-search {
    grid-area: search-bar;
}

.header-buttons {
    display: flex;
    grid-area: apps-sign-in;
    justify-self: end;
    margin: 0 20px;
    align-items: center;
}

.sign-in-button {
    width: 80px;
    background-color: blue;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    grid-template-areas:
    "results"
}

footer {
    grid-area: footer;
}

#google-logo-png {
}

#search-bar {
    background: url("./images/magnifying-glass-lighter.png") no-repeat 14px center;
    background-size: 16px;
    width: 600px;
    height: 40px;
    border: 2px solid #ebebeb;
    border-radius: 26px;
    padding-left: 45px;
}

#search-bar:hover,
#search-bar:focus {
    box-shadow: 0.5px 1px 3px rgba(58, 57, 57, 0.2);
    outline: none;
}

.results {
    grid-area: results;
    word-wrap: break-word;
    padding-left: 10px;
}
